@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

}
footer {
    display: absolute;
    width: 100#;

}
body {
    font-family: 'Outfit', sans-serif;
    background: var(--Light-gray);
    margin: auto;
}

p , h1{
    font-size: 15px;
}

.attribution {


    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    width: 100vw;
    height: 100vh;


}
.content {
    width: 100vw;
    height: 90%;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: center;
    
}

.content .card {
    background-color: var(--White);
    width: 275px;
    height: 400px;
    border-radius: 5%;
    padding: 10px;
    text-align: center;

}

.content .card img {
    width: 100%;
    border-radius: 5%;
}

.title {
    font-weight: 700;
    color: var(--Dark-blue);
}

.text {
    font-weight: 400;
    text-align: center;
    color: var(--Grayish-blue);
    margin: 10px;
    bottom: -5px;
}